variables:
    # CI_DEBUG_TRACE: "true"
    MIDAS_ABS: /home/sanl888/data_maestro/ords/midas/gitlab-ci/abs
    SSM_PACKAGES: /home/sanl888/data_maestro/ords/midas/gitlab-ci/packages
    LISTINGS_ARCHIVE: /home/sanl888/data_maestro/eccc-ppp4/UnitTests/midas/listings
    SEQ_MAESTRO_SHORTCUT: ". ssmuse-sh -d eccc/cmo/isst/maestro/1.5.3.3"

stages:
   - build
   - test
   - doc
   - deploy

## The program 'gitlab-runner' must be found in the PATH to get the artifacts collecting working.
#before_script:
#    - ln -svf /home/sidr000/bin/gitlab-ci-multi-runner-linux-amd64 ${TMPDIR}/bin
#    - ln -svf gitlab-ci-multi-runner-linux-amd64 ${TMPDIR}/bin/gitlab-runner

midas_build:
  stage: build
  script:
    - cd src
    - (export MIDAS_COMPILE_DIR_MAIN=$MIDAS_ABS __exec_leafdir_midas='' MIDAS_COMPILE_CLEAN=true && ./midas_build)
  only:
    - master
    - v_3.6
    - tags
    - 447-modify-ci-for-use-with-makefile
  tags:
    - hpcr-u1

monitor_build:
  stage: build
  script:
    - cd tools/monitor
    - make install PGM=$MIDAS_ABS/midas.monitor_$(../../midas.version.sh).Abs
  only:
    - master
    - v_3.6
    - tags
  tags:
    - hpcr-u1

monitor_tests:
   stage: test
   script:
     - cd tools/monitor
     - ./test.sh $MIDAS_ABS/midas.monitor_$(../../midas.version.sh).Abs
   only:
     - master
     - v_3.6
     - tags
   tags:
     - hpcr-u1

## The program 'midas.splitobs' is compiled in 'midas_build' so we don't need to compile it explicitely here
## splitobs_build:
##    stage: build
##    script:
##      - cd tools/splitobs
##      - make install PGM=$MIDAS_ABS/midas.splitobs_${ORDENV_PLAT}-$(../../midas.version.sh).Abs
##    tags:
##      - hpcr-u1

splitobs_burp_tests:
   stage: test
   script:
     - cd tools/splitobs
     - export SPLITOBS=$MIDAS_ABS/midas.splitobs_${ORDENV_PLAT}-$(../../midas.version.sh).Abs
     - ./unittest_batch burp
   only:
     - tags
   tags:
     - hpcr-u1

splitobs_rdb_tests:
   stage: test
   script:
     - cd tools/splitobs
     - export SPLITOBS=$MIDAS_ABS/midas.splitobs_${ORDENV_PLAT}-$(../../midas.version.sh).Abs
     - ./unittest_batch rdb
   only:
     - tags
   tags:
     - hpcr-u1

midas_tests:
   stage: test
   script:
     - . ssmuse-sh -d eccc/cmd/cmdi/utils/2.3
     - cd maestro/suites/midas_system_tests
     - suite=midas-$(echo ${CI_BUILD_REF} | cut -c-10)
     - ./install_suite.sh $suite run $MIDAS_ABS
     - ./wait4tests.sh $suite
     - ./extractRunTime.sh -findOutliers -emails ervig.lapalme@canada.ca mark.buehner@canada.ca
     - collect_unittest_listings_workdir=${PWD}/tmpdir collect_unittest_listings_output=$LISTINGS_ARCHIVE ./collect_unittest_listings
     - . ./set_machine_list.dot
     - clean_suite -y ${suite}
     - rm ~/.suites/${suite}
     - rmdir ~/data_maestro/ords/maestro/$suite
   only:
     - master
     - v_3.6
     - tags
     - 447-modify-ci-for-use-with-makefile
   tags:
     - hpcr-u1

findTrials_tests:
   stage: test
   script:
     - cd tools/findTrials
     - ./midas.findTrials --unittest
   only:
     - master
     - v_3.6
     - tags
   tags:
     - hpcr-u1

doc_sphinx:
  stage: doc
  variables:
    docname: $CI_BUILD_REF_NAME-$CI_BUILD_REF
    midasdoc: /home/sanl888/public_html/midas-sphinx-doc
  script:
  - cd scripts/sphinx
  - ./build_html.sh ../../src $midasdoc/$docname
  - rm -fv $midasdoc/latest-$CI_BUILD_REF_NAME
  - ln -sv $midasdoc/$docname $midasdoc/latest-$CI_BUILD_REF_NAME
  only:
    - master
    - v_3.6
    - tags
  tags:
    - hpcr-u1

ssm:
  stage: deploy
  script:
    - ./set_resources_def.sh
    - . maestro/suites/midas_system_tests/set_machine_list.dot
    ## remove the 'v_' from the tag name since MIDAS domains do not contain 'v_' but starts with the number
    - VERSION=$(./midas.version.sh | cut -c3-)
    - cd ssm
    - ./package --midas-abs ${MIDAS_ABS} --packages ${SSM_PACKAGES}/${VERSION} --frontend ${MACHINE_PPP} --backend ${MACHINE_SUPER}
    ## For this command to work, we must put in '/home/sanl000/.ssh/authorized_keys' this:
    ##     no-port-forwarding,no-X11-forwarding,no-agent-forwarding,no-pty,command="/home/sanl000/bin/ssh_command ${SSH_ORIGINAL_COMMAND}" ssh-rsa .... sanl888@hpci-util
    - ssh sanl000@${MACHINE_PPP} /home/sanl000/ssm/ssm_publish midas ${VERSION} ${SSM_PACKAGES}/${VERSION}
    - rm -rf ${SSM_PACKAGES}/${VERSION}
  only:
    - tags
  tags:
    - hpcr-u1
