
## Ce domaine contient l'outil 'source_cfg.dot'
. ssmuse-sh -d eccc/cmd/cmdi/source_cfg/6.4

FILE_TRANSFER_COMMAND=sscp

FRONTEND=$(getdef resources FRONTEND)
BACKEND=$(getdef resources BACKEND)
REFERENCE_UPDATE_MACHINE=$(getdef resources REFERENCE_UPDATE_MACHINE)
REFERENCE_MACHINE=$(getdef resources REFERENCE_MACHINE)
LETKF_GLB10KM_MPITOPOLOGY=$(getdef resources LETKF_GLB10KM_MPITOPOLOGY)
UnitTest_compilation_mode=$(getdef resources COMPILATION_MODE)

## This variable is used in the namelist of the tests
## '/Tests/var/EnVar/gdps' and '/Tests/var/EnVar/hrdps'.
VAR_NITERMAX=$(getdef resources VAR_NITERMAX)

## Set this variable for the number of minimization iterations
## 'NITERMAX' for 'var1D' in the test '/Tests/var1D/idealized'.
VAR1D_IDEALIZED_NITERMAX=$(getdef resources VAR1D_IDEALIZED_NITERMAX)

if [ "${SEQ_NAME}" = VAR -o "${SEQ_NAME}" = run ]; then
    . ${SEQ_EXP_HOME}/abs.dot
fi

#### Set the global verbosity level for RMN libraries using the 'App' logging system
#### The documentation is at https://gitlab.science.gc.ca/RPN-SI/App#environment-variables
#export APP_VERBOSE=DEBUG

#### Uncomment the following line to launch the preparation for interactive usage
# UnitTest_stop_for_interactive_work=yes

#### Uncomment the following line to launch the 'vtune' profiling
## See https://www.intel.com/content/www/us/en/docs/vtune-profiler/user-guide/2024-0/collect.html
## for all options
# UnitTest_run_vtune_mode=hotspots
