#############################################################################
# <input>
#    results/       ${UnitTest_reference}/results*.ca
#    pgm            ${SEQ_WORKBASE}/${SEQ_CONTAINER}/run/bin/pgm
#    live_results   ${SEQ_WORKBASE}/${SEQ_CONTAINER}/run/output
# </input>
#############################################################################
# <executables>
#    remote_copy     ${FILE_TRANSFER_COMMAND}
#    cmcarc          cmcarc
#    r.filetype      r.filetype
#    fstcomp         fstcomp
#    editbrp         editbrp
#    liburp          liburp
#    lisqlite        lisqlite
#    burp2rdb        burp2rdb
#    d.sqlite        d.sqlite
#    readlink        r.read_link
# </executables>
#############################################################################
# <output>
# </output>
