UNITTEST_PGM_CFG=${UNITTEST_PGM_CFG:-${SEQ_EXP_HOME}/config/${SEQ_CURRENT_CONTAINER%/*}.cfg}
if [[ -f ${UNITTEST_PGM_CFG} ]]; then . ${DOT_CFG:-source_cfg.dot} ${UNITTEST_PGM_CFG}; fi

if [ -z "${UnitTest_reference}" ]; then
    ${MAESTRO_BIN}/nodelogger -n ${SEQ_NODE} -s info  -m "You must specify an input path for this Unit Test with variable \${UnitTest_reference}"
    exit 1
fi

UnitTest_burp_diff=${UnitTest_burp_diff:-liburp}

## SSM domains loaded in tasks 'get', 'check' and 'clean'
UnitTest_ssm=${UnitTest_ssm:-"eccc/mrd/rpn/utils/20260401-beta eccc/cmd/cmda/utils/20260401-beta"}

## Cette variable permet de choisir le compilateur qui charge
## l'environnement d'execution.
UnitTest_compiler=${UnitTest_compiler:?'There should be a compiler'}

## C'est le script qui est utilise pour lancer le binaire
##   (par exemple, pour remplir les repertoire sous /tmp que le programme peut utiliser).
UnitTest_mpiscript=${UnitTest_mpiscript:-'<no value>'}
# Ces arguments seront donnes au script '${UnitTest_mpiscript}'
UnitTest_run_pgm_args=${UnitTest_run_pgm_args:-''}

UnitTest_run_environment_variables=${UnitTest_run_environment_variables:-''}

## This variable can be 'release' or 'debug' and let the module know if the
## binaries have been compiled in normal or debug mode.
UnitTest_compilation_mode=${UnitTest_compilation_mode:-release}

## If 'run', then the task 'run' will be relaunch ad vitam aeternam
## If 'check', then the task 'run' will be relaunch after the task 'check' ran and succeeded
## if 'no, the default', then nothing is relaunch and the module runs until the end of its flow.
UnitTest_run_relaunch=${UnitTest_run_relaunch:-no}

## When UnitTest_run_dump_core=1 and the code abort on runtime error, cores
## will be dumped in the work directory; one per process.
## Each core can weight O(10) Gb (times the number of processes)
UnitTest_run_dump_core=${UnitTest_run_dump_core:-}

## This variable gives the 'vtune' mode to use
##   This will be given to '-collect' argument when 'vtune' is called
##   See https://www.intel.com/content/www/us/en/docs/vtune-profiler/user-guide/2024-0/collect.html
UnitTest_run_vtune_mode=${UnitTest_run_vtune_mode:-}

## This variable locates the 'vtune' optimization tool
##  https://portal.science.gc.ca/xwiki/bin/view/Projects/Science/Software%20Resources/Intel%20Compilers/Intel%20oneAPI%20-%202022.1.2/
UnitTest_run_vtune_ssm=${UnitTest_run_vtune_ssm:-main/opt/intelcomp/inteloneapi-2025.1.0}

## This variable is to stop the unit test after '/UnitTest/run' has
## completed to leave the working directory intact so the developer
## can launch an interactive job and work interactively with the
## program.
UnitTest_stop_for_interactive_work=${UnitTest_stop_for_interactive_work:-no}

## par defaut, on ne verifie pas l'etiket mais si on veut le faire
## alors on peut utiliser 'UnitTest_checketiket=yes'.
UnitTest_checketiket=${UnitTest_checketiket:-no}

## path to reference results
UnitTest_reference=${UnitTest_reference}
## path to a directory where to put the updated results (used in task 'update')
UnitTest_reference_update=${UnitTest_reference_update}

## The file identified with '${UnitTest_execution_times_dictionnary}'
if [[ -z "${UnitTest_execution_times_dictionnary}" ]]; then
    if [[ "${ORDENV_PLAT}" = rhel-8-icelake-64 ]]; then
        UnitTest_execution_times_dictionnary=${SEQ_EXP_HOME}/expectedTestsExecutionTimes.hpcr-u2
    elif [[ "${ORDENV_PLAT}" = rhel-9-graniterapids-64 ]]; then
        UnitTest_execution_times_dictionnary=${SEQ_EXP_HOME}/expectedTestsExecutionTimes.hpcr-u3
    fi
fi

## if equal to 'abort' then abort if the execution time is greater than maximum expected.
UnitTest_abort_when_over_maximum_execution_time=${UnitTest_abort_when_over_maximum_execution_time:-continue}

## a list of files that can be ignored when checking results
UnitTest_check_results_ignore=${UnitTest_check_results_ignore:-''}
## the number of parallel jobs launched in parallel
UnitTest_check_results_number_of_parallel=${UnitTest_check_results_number_of_parallel:-${SEQ_NPEX}}

UnitTest_cleanup=${UnitTest_cleanup:-"yes"}

## The 'run' task is loading itself what it needs
## This makes it easier to manage the loading environment
## for interactive debugging for example.
if [ "${SEQ_NAME}" != run ]; then
    . r.load.dot ${UnitTest_ssm}
fi

# Ajout du repertoire 'scripts' du module lui-meme au path
export PATH=${SEQ_EXP_HOME}/modules/${SEQ_MODULE}/scripts:${PATH}

# Ajout d'un repertoire 'ovbin' dans le path
##  Si on lance la tache '/Tests/var/EnVar/24mem_xc40/UnitTest/run' alors
##       SEQ_CONTAINER=/Tests/var/EnVar/24mem_xc40/UnitTest
##  et donc
##       ${SEQ_CONTAINER%/*}=/Tests/var/EnVar/24mem_xc40
##  Ainsi, le repertoire
##       ${SEQ_EXP_HOME}/Tests/var/EnVar/24mem_xc40/ovbin
##  est ajoute au path.
export PATH=${SEQ_EXP_HOME}/config/${SEQ_CONTAINER%/*}/ovbin:${PATH}
