. r.load.dot ${UnitTest_ssm}

#############################################################################
# <input>
#    inputs/         ${UnitTest_reference}/inputs*.ca
# </input>
#############################################################################
# <executables>
#    remote_copy     ${FILE_TRANSFER_COMMAND}
#    cmcarc          cmcarc
#    readlink        r.read_link
# </executables>
#############################################################################
# <output>
# </output>
