#############################################################################
# <input>
#    inputs          ${SEQ_WORKBASE}/${SEQ_CONTAINER}/get/output
# </input>
#############################################################################
# <executables>
#    pgm                ${UnitTest_run_exe}
#    mpiscript          ${UnitTest_mpiscript}
#    launch_program.sh  launch_program.sh
#    isFileInList.sh    isFileInList.sh
# </executables>
#############################################################################
# <output>
# </output>
