#############################################################################
# <input>
#    inputs          ${SEQ_WORKBASE}/${SEQ_CONTAINER}/get/output
# </input>
#############################################################################
# <executables>
#    pgm                ${UnitTest_run_exe}
#    mpiscript          ${UnitTest_mpiscript}
#    launch_program.sh  launch_program.sh
#    read_link          r.read_link
#    r.run_in_parallel  r.run_in_parallel
# </executables>
#############################################################################
# <output>
# </output>
